# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyDcB1jg0JafI33dtqTOac1iuCv35afDWvs",
VITE_FIREBASE_AUTH_DOMAIN="hims-academial.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID= "hims-academial",
VITE_FIREBASE_STORAGE_BUCKET="hims-academial.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID="173172229632",
VITE_FIREBASE_APP_ID="1:173172229632:web:6cbbe8c204b39c70057ae5",
VITE_FIREBASE_MEASUREMENT_ID= "G-VF4NM4QFJ2"

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=dtw0l74gc
VITE_CLOUDINARY_UPLOAD_PRESET=hims_acedemial


